<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navLogged :: navTeller"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">

    <div class="row justify-content-center mt-5">
        <div class="col-md-5" th:style="'border-color: rgba(224, 228, 228, 0.801);
                border-style: solid;
                border-radius: 10px;
                border-width: 1px;
                padding-top:10px;
                padding-bottom:10px'">

            <div class="card"
                 style="background-color:transparent;width:800px;"
                 th:object="${assessment}">
                <div class="card-body">
                    <h5 class="card-title">ACCOUNT REQUEST DETAILS</h5>
                    <p class="card text">First name:
                        <span th:text="${assessment.firstName}"></span>
                    </p>
                    <p class="card text">Last name:
                        <span th:text="${assessment.lastName}"></span>
                    </p>
                    <p class="card text">Date of Birth:
                        <span th:text="${assessment.dateOfBirth}"></span>
                    </p>
                    <p class="card text">Email:
                        <span th:text="${assessment.email}"></span>
                    </p>
                    <p class="card text">Annual Income:
                        <span th:text="${assessment.annualIncome}"></span>
                    </p>
                    <p class="card text">First deposit:
                        <span th:text="${assessment.firstDeposit}"></span>
                    </p>
                    <p class="card text">Country:
                        <span th:text="${assessment.country}"></span>
                    </p>
                    <p class="card text">City:
                        <span th:text="${assessment.city}"></span>
                    </p>
                    <p class="card text">Street:
                        <span th:text="${assessment.street}"></span>
                    </p>
                    <p class="card text">Postcode:
                        <span th:text="${assessment.postcode}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a th:href="@{/admin/loan-console/start/{id}(id=${assessment.id})}" class="btn btn-primary">Start</a>
        <a th:href="@{/admin/account/Approved/{id}(id=${assessment.id})}" class="btn btn-primary">Approved</a>
        <a th:href="@{/admin/account/Rejected/{id}(id=${assessment.id})}" class="btn btn-primary">Rejected</a>
        <a th:href="@{/admin/loan-console}" class="btn btn-primary">Back to dashboard</a>
    </div>
</body>
</html>