<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navHome :: navHome"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">

<div class="row justify-content-center mt-5">
    <div class="col-md-5" th:style="'border-color: rgba(224, 228, 228, 0.801);
                border-style: solid;
              border-radius: 10px;  border-radius: 10px;
                border-width: 1px;
                padding-top:10px;
                padding-bottom:10px'">
        <form method="POST">
            <h4>LOGIN</h4>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Login</button>

        </form>
        <hr>
        <div class="text-center">
            New customer? <a th:href="@{/LKMBank/openAccount}">Create account</a>
            <a th:href="@{/LKMBank/testuser/account}">after login</a>
            <a th:href="@{/LKMBank/bank/teller}">after teller login</a>
        </div>
    </div>
</div>
</body>
</html>