<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navhome :: navhome"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">
New account request
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>New account request</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <form method="POST">
            <div class="form-group">
                <label for="first_name">First name</label>
                <input type="text" name="first_name" class="form-control" id="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last name</label>
                <input type="text" name="last_name" class="form-control" id="last_name">
            </div>
            <div class="form-group">
                <label for="date_of_birth">Birthday</label>
                <input type="date" name="date_of_birth" class="form-control" id="date_of_birth">
            </div>
            <div class="form-group">
                <label for="annual_income">Annual income</label>
                <input type="number" name="annual_income" class="form-control" id="annual_income">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" name="country" class="form-control" id="country">
            </div>
            <div class="form-group">
                <label for="country">City</label>
                <input type="text" name="city" class="form-control" id="city">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        <div class="text-center">
            Do you already have an account? <a th:href="@{/LKMBank/login}">Login here</a>
        </div>
    </div>
</div>
</body>
