<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navHome :: navHome"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">
<br><h3 align="center">Transaction details</h3><br>
<div align="center" th:style="'margin: auto;
  width: 60%;
  border: 3px solid rgba(224, 228, 228, 0.801);
  padding: 10px;rgba(224, 228, 228, 0.801);'">

    <table class="table table-secondary table-bordered mt-5 align-middle">
        <head style="center" th:text = "${transferMessage}">
        <tr>
            <th rowspan="2">balance</th>
            <th rowspan="2">amount</th>
            <th rowspan="2">date</th>
            <th rowspan="2">title</th>
            <th colspan="2" style="vertical-align : middle;text-align:center;">recipient</th>
            <th colspan="2" style="vertical-align : middle;text-align:center;">sender</th>
        </tr>
        <tr>
            <th>account</th>
            <th>name</th>
            <th>account</th>
            <th>name</th>
        </tr>
        </head>

        <tr th:each="transaction :  ${transactions}">
            <td> 1000 </td>
            <td> <p th:text="${transaction.amount}" /></td>
            <td> <p th:text="${transaction.created_at}" /></td>
            <td> <p th:text="${transaction.reason}" /></td>
            <td><p th:text="${transaction.recipientAccount}" /></td>
            <td> <p th:text="${transaction.recipientName}" /> </td>
            <td><p th:text="${transaction.senderAccount}" /></td>
            <td> <p th:text="${transaction.senderName}" /> </td>
        </tr>
    </table>


    <a th:href="@{/LKMBank/testuser/account/transactions/all}" class="btn btn-primary" >Show All transactions (loan included)</a>

    <a th:href="@{/LKMBank/testuser/account/transactions/received}" class="btn btn-primary">Show All received transfers </a>

    <a th:href="@{/LKMBank/testuser/account/transactions/sent}" class="btn btn-primary">show all sent transfers</a>



</div>
<br>
<br>
<a th:href="@{/LKMBank/testuser/account}" class="btn btn-primary">return your account dashboard</a>

</body>
</html>