<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navHome :: navHome"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">


<h2>Transactions  pages </h2>

<p>
    <a th:href="@{/transfer}">make a transfer</a>
</p>


<p>
    <a th:href="@{/transactions}">Show All transactions</a>
</p>

<p>
    <a th:href="@{/transactions/bysender}">Show transactions By sender 6666 </a>
</p>

<p>
    <a th:href="@{/transactions/byrecipient}">Show transactions By recipient 12345 </a>
</p>

</body>
</html>
