<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navhome :: navhome"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');'">

<h1>Information about your transaction </h1>
    <p th:text="'Your transaction of '+ ${transaction.amount} +'$ to ' + ${transaction.recipientName}+ ' was ' + ${transaction.status}" />

    <a href="/transfer">Make another transfer</a>


</form>




<p>
    <a th:href="@{/transaction}">go back to transaction page</a>
</p>

<p>
    <a th:href="@{/transactions}">Show All transactions</a>
</p>

<p>
    <a th:href="@{/transactions/bysender}">Show transactions By sender 6666 </a>
</p>

<p>
    <a th:href="@{/transactions/byrecipient}">Show transactions By recipient 12345 </a>
</p>

</body>
</html>
