<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navHome :: navHome"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">

<h1>Information about your transaction </h1>
   <p th:text="${validationMessage}" />

   <a type="button" th:href="@{/LKMBank/testuser/account/maketransfer}" class="btn btn-primary">Make another transfer</a>






<p>
    <a type="button" th:href="@{/LKMBank/testuser/account/transactions}" class="btn btn-primary">go back to transaction page</a>
</p>



</body>
</html>
