<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navLogged :: navClient"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">
<br><br>
<div align="center" th:style="'margin: auto;rgba(224, 228, 228, 0.801);'">
    <div class="card" th:style="'background-color:transparent;width:800px;'">
        <div class="card-body">
            <div class="card-title">
                <div class="panel-heading">
                    <span th:utext="${userName}"></span>
                </div>
            </div>
            <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
        </div>
    </div>
</div>
<div align="center" th:style="'margin: auto;rgba(224, 228, 228, 0.801);'">
        <div class="card" th:style="'padding=20px;background-color:transparent;width:400px;'">
            <div class="card-body">
                <h5 class="card-title">Your Account</h5>
                <p class="card-text"><b>Account number:</b></p>
                <p class="card-text">32 4787 4781 4737 3728 7392 5353</p>
                <p class="card-text"><b>Balance:</b></p>
                <p class="card-text">10000</p>
                <a th:href="@{/LKMBank/testuser/account/transactions}" class="btn btn-primary">Show details</a>
                <a th:href="@{/LKMBank/testuser/account/maketransfer}" class="btn btn-primary">Make transaction</a>
            </div></div>
    <br><br>
        <div class="card" th:style="'padding=20px;background-color: transparent;width:400px;'">
            <div class="card-body">
                    <h5 class="card-title">Loan</h5>
                    <p class="card-text"><b>Loan amount: </b> 98500</p>
                    <p class="card-text"><b>End date: </b>2050-12-22</p>
                    <p class="card-text"><b>Monthly payment: </b>500</p>
                    <p class="card-text"><b>Pay day: </b>22</p>

                <a th:href="@{/LKMBank/testuser/account/loandetails}" class="btn btn-primary">Show details</a>
            </div>
        </div>
</div>


</body>
</html>