<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navLogged :: navClient"/>
<body th:style="'background-image: url(' + @{/images/background.png} + ');
                background-repeat: no-repeat;
                background-size: cover;
                height=100%'">

<div class="row justify-content-center mt-5">
    <div class="col-md-5" th:style="'border-color: rgba(224, 228, 228, 0.801);
                border-style: solid;
                border-radius: 10px;
                border-width: 1px;
                padding-top:10px;
                padding-bottom:10px'">

        <form method="POST">
            <h4>REQUEST A LOAN</h4><hr>
            <div class="form-group">
                <input type="text" name="firstName" class="form-control" id="firstName"  value="John" hidden required>
            </div>
            <div class="form-group">
                <input type="text" name="lastName" class="form-control" id="lastName" value="Geller" hidden required>
            </div>
            <div class="form-group">
                <input type="date" name="dateOfBirth" class="form-control" id="dateOfBirth" value="12-12-2001" hidden required>
            </div>

            <div class="form-group">
                <input type="number" name="annualIncome" class="form-control" id="annualIncome" min="0" hidden required>
            </div>

            <div class="form-group">
                <input type="text" name="country" class="form-control" id="country" value="California" hidden required>
            </div>
            <div class="form-group">
                <input type="text" name="city" class="form-control" id="city" value="Los Angeles" hidden required>
            </div>
            <div class="form-group">
                <input type="tel" name="postcode" class="form-control" id="postcode" value="01-123" hidden required>
            </div>
            <div class="form-group">
                <input type="text" name="street" class="form-control" id="street" value="Wallstreet 14" hidden required>
            </div>

            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" name="startDate" class="form-control" id="startDate" min="2021-03-01" required>
            </div>
            <div class="form-group">
                <label for="dueDate">Due Date</label>
                <input type="date" name="dueDate" class="form-control" id="dueDate" min="2021-04-01" required>
            </div>
            <div class="form-group">
                <label for="payDay">Pay day</label>
                <input type="number" name="payDay" class="form-control" id="payDay" min="1" max="28" required>
            </div>
            <div class="form-group">
                <label for="reason">Reason</label>
                <input type="text" name="reason" class="form-control" id="reason" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit your request</button>

        </form>
        <hr>
        <div class="text-center">
            Do you already have an account? <a th:href="@{/LKMBank/login}">Login here</a>
        </div>
    </div>
</div>
</body>
