<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<div th:replace="fragments/navLogged :: navClient"/>
<body>

<div class="row justify-content-center mt-5">
    <div class="col-md-5" style="
                border-color: rgba(224, 228, 228, 0.801);
                border-style: solid;
                border-radius: 10px;
                border-width: 1px;
                padding-top:10px;
                padding-bottom:10px">
        <form method="POST"
              th:action="@{/customer/openAccount}"
              th:object="${assessment}">
            <h4>OPEN NEW ACCOUNT</h4><hr>
            <div class="form-group">
                <label for="firstName">First name
                    <span style=color:red;>*</span>
                </label>
                <input type="text" th:field="*{firstName}" name="firstName"
                       id="firstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last name
                    <span style=color:red;>*</span>
                </label>
                <input type="text" th:field="*{lastName}"name="lastName"
                       id="lastName" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="DateOfBirth">Date of Birth
                    <span style=color:red;>*</span>
                </label>
                <input type="date" name="dateOfBirth"
                       id="dateOfBirth" th:max="${birth}" th:min="${oldest}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="mail">Email
                    <span style=color:red;>*</span>
                </label>
                <input type="email" name="mail" id="mail"
                       th:value="*{email}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="annualIncome">Annual income
                    <span style=color:red;>*</span></label>
                <input type="number" name="annualIncome"
                       id="annualIncome" th:min="${zero}"
                       th:value="*{annualIncome}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="firstDeposit">First deposit
                    <span style=color:red;>*</span>
                </label>
                <input type="number" name="firstDeposit"
                       id="firstDeposit" th:min="${minDeposit}"
                       th:value="*{firstDeposit}" class="form-control" required>
            </div>
            <hr>
            <h6>Address</h6>
            <div class="form-group">
                <label for="country">Country
                    <span style=color:red;>*</span>
                </label>
                <input type="text" th:value="*{country}" name="country"
                       id="country" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="city">City
                    <span style=color:red;>*</span>
                </label>
                <input type="text" th:value="*{city}" name="city"
                       id="city" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="postcode">Postal Code
                    <span style=color:red;>*</span>
                </label>
                <input type="text" th:value="*{postcode}" name="postcode"
                       id="postcode" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="street">Street
                    <span style=color:red;>*</span>
                </label>
                <input type="text" name="street" id="street"
                       th:value="*{street}" class="form-control" required>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">
                Submit your request
            </button>
        </form>
        <hr>
    </div>
</div>
</body>
</html>